/*---------------------------
		General
---------------------------*/

body {
	font-size: 1em;
	font-family: "Comfortaa", "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

p {
	font-size: 1.5em;
}

/*---------------------------
		Intro Section
---------------------------*/

.intro {
	max-width: 60em;
	margin: 0 auto;
	display: none;
}

.banner, .intro-button {
	text-align: center;
}

.user-answer button,
.intro-button button {
	padding: 0.7rem;
	border-radius: 5px;
	font-family: "Open Sans", "Comfortaa", sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: #00235D;
}

.user-answer button:hover,
.intro-button button:hover {
	background-color: Gray;
	cursor: pointer;
}

/*---------------------------
		Main Section
---------------------------*/

.main {
	max-width: 60em;
	margin: 0 auto;
}

/*---------------------------
		Heading Section
---------------------------*/

.heading {
	text-align: center;
	overflow: hidden;
}

.heading .logo,
.heading .score {
	display: inline-block;
	float: left;
}

.logo {
	margin-left: 6rem;
	width: 40% ;
}

.score {
	width: 50%;
	margin-top: 4rem;
}

.score h1 {
	font-family: "Open Sans", "Comfortaa", sans-serif;
	font-weight: 700;
	color: #00235D;
}

.score p {
	margin-top: 1rem;
}

.score h2 {
	margin-top: 0.5rem;
}

/*---------------------------
		Middle Section
---------------------------*/

.middle {
	text-align: center;
	margin-top: 2rem;
	overflow: hidden;
}

.content h2 {
	font-family: "Open Sans", "Comfortaa", sans-serif;
	font-weight: 700;
	color: #00235D;
}

.question {
	margin-top: 1rem;
}

.answers {
	max-width: 40em;
	margin: 1rem auto 0 auto;
}

.list li {
	display: inline-block;
	float: left;
	width: 20%;
	margin-right: 2em;
}

.list .selected {
	padding: 0.4rem;
	border: 0.7rem solid #F10F3F;
	border-radius: 40px;
}

.list .unselected {
	padding: 0.4rem;
	border: 0.7rem solid #00235D;
	border-radius: 40px;
}

.list .selected {
	cursor: pointer;
}

.list .unselected:hover {
	border-color: #0000FF;
	cursor: pointer;
 }

.list .answer-text {
	font-size: 1em;
	margin-top: 0.5rem;
}


/*---------------------------
	User Answer Section
---------------------------*/

.user-answer {
	text-align: center;
	margin-top: 3rem;
}

.user-answer p,
.user-answer button {
	display: inline-block;
}

.user-answer #answer {
	margin-left: 0.5rem;
}

.user-answer button {
	margin-left: 6rem;
}









