/*---------------------------
		General
---------------------------*/

body {
	font-size: 1em;
	font-family: "Comfortaa", "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

p {
	font-size: 1.5em;
}

/*---------------------------
		Intro Section
---------------------------*/

.intro {
	max-width: 60em;
	margin: 0 auto;
}

.banner, .intro-button {
	text-align: center;
}

.user-answer button,
.intro-button button,
.next button {
	padding: 0.7rem;
	border-radius: 5px;
	font-family: "Open Sans", "Comfortaa", sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: #00235D;
	background: #EDEDED;
}

.user-answer button:hover,
.intro-button button:hover,
.next button:hover {
	background-color: Gray;
	cursor: pointer;
}

/*---------------------------
	Play Area Section
---------------------------*/

.play-area {
	display: none;
}

/*---------------------------
		Heading Section
---------------------------*/

.heading {
	text-align: center;
	overflow: hidden;
}

.heading .logo,
.heading .score {
	display: inline-block;
	
}

.logo {
	float: left;
	margin-left: 3rem;
	width: 30% ;
}

.score {
	float: right;
	float: right;
	width: 20%;
	margin: 4rem 11rem 0 0;
	padding: 0.3rem;
	border-radius: 6px;
	background: #EDEDED;
}

.score h1 {
	font-family: "Open Sans", "Comfortaa", sans-serif;
	font-weight: 700;
	color: #00235D;
}

.score p {
	margin-top: 1rem;
}

.score h2 {
	margin-top: 0.5rem;
}

/*---------------------------
		Main Section
---------------------------*/

.main {
	max-width: 60em;
	margin: 0 auto;
	position: relative;
	bottom: 1rem;
}

/*---------------------------
		Middle Section
---------------------------*/

.middle {
	text-align: center;
	overflow: hidden;
}

.content h2 {
	font-family: "Open Sans", "Comfortaa", sans-serif;
	font-weight: 700;
	color: #00235D;
}

.question {
	margin-top: 1rem;
}

.answers {
	max-width: 42em;
	margin: 2rem auto 0 auto;
}

.list li {
	display: inline-block;
	float: left;
	width: 20%;
	margin-right: 1.5em;
}

.list #first-answer {
	margin-left: 1.5em;
}

.list .selected {
	border: 0.7rem solid #F10F3F;
	border-radius: 10px;
}

.list .unselected {
	border: 0.7rem solid #00235D;
	border-radius: 10px;
}

.list .selected {
	cursor: pointer;
}

.list .unselected:hover {
	border-color: #0000FF;
	cursor: pointer;
 }

.list .answer-text {
	font-size: 1em;
	margin-top: 0.5rem;
}


/*---------------------------
	User Answer Section
---------------------------*/

.user-answer {
	text-align: center;
	margin-top: 2rem;
}

.user-answer p,
.user-answer button {
	display: inline-block;
}

.user-answer #answer {
	margin-left: 0.5rem;
}

.user-answer button {
	margin-left: 6rem;
}

/*---------------------------
	Answer Area Section
---------------------------*/

.answer-area {
	max-width: 60em;
	margin: 0 auto;
	display: none;
}

.answer-header {
	margin-top: 2rem; 	
	overflow: hidden;
}

.answer-pic {
	float: left;
}

.answer-pic img {
	border: 0.3rem solid #00235D;
	border-radius: 10px;
}

.correct {
	float: left;
	margin: 2rem 0 0 4rem;
}

.correct h1 {
	font-family: "Open Sans", "Comfortaa", sans-serif;
	font-weight: 700;
	color: #00235D;
}

.correct p {
	margin-top: 1rem;
}

.description {
	margin-top: 2rem;
}

.description p {
	line-height: 1.3em;
}

.next {
	margin-top: 2rem;
	text-align: center;
}

/*---------------------------
		Ending Section
---------------------------*/

.ending {
	max-width: 60em;
	margin: 0 auto;
	text-align: center;
	display: none;
}
.end-banner {
	width: 60%;
	margin: 0 auto;
}
.win-lose {
	margin-top: 2rem;
	font-family: "Open Sans", "Comfortaa", sans-serif;
	font-weight: 700;
	color: #00235D;
}
.end-score {
	margin-top: 1rem;
}


/*---------------------------
		Responsiveness
---------------------------*/

@media only screen and (max-width: 1265px) {
	.logo {
		width: 35% ;
	}
	.score {
		width: 25%;
	}
}

@media only screen and (max-width: 1070px) {
	.main {
		bottom: 0;
		margin: 2rem auto 1rem auto;
	}
}

@media only screen and (max-width: 1020px) {
	.logo {
		width: 40%;
	}
	.score {
		font-size: 0.8em;
		margin-right: 7rem;
	}
}

@media only screen and (max-width: 830px) {
	.logo {
		width: 45%;
	}
	.score {
		width: 30%;
		margin-right: 4rem;
		font-size: 0.7em;
	}
}

@media only screen and (max-width: 680px) {
	.play-area {
		padding: 0 1rem;
	}
	.heading {
		text-align: center;
	}
	.logo {
		width: 65%;
		margin: 0 auto 0 auto;
		float: none;
	}
	.score {
		margin: 1rem 0 0 0;
		float: none;
		width: 40%;
	}
	.list li {
		width: 19%;
	}
}

@media only screen and (max-width: 550px) {
	.score {
		width: 50%;
	}
	.answers {
		max-width: 20em;
	}
	.list li {
		width: 38%;
		margin-top: 0.5rem;
	}
	.list #answer1, 
	.list #answer3 {
		margin-left: 1.5em;
	}
	.content,
	.user-answer {
		font-size: 0.8em;
	}
	.user-answer button {
		margin-left: 3rem;
	}
}

@media only screen and (max-width: 415px) {
	.logo {
		width: 75%;
	}
	.score {
		width: 60%;
	}
	.user-answer button {
		display: block;
		margin: 0.5rem auto 0 auto;
	}
}

@media only screen and (max-width: 350px) {
	.logo {
		width: 85%;
	}
	.score {
		font-size: 0.6em;
	}
	.list li {
		margin-right: 1.3em;
	}	
	.list #answer1, 
	.list #answer3 {
		margin-left: 1.3em;
	}
}







